<!DOCTYPE html>
<html ng-app="admin">
<head>
<meta charset="utf-8" /> 
	<title>Admin</title>
	<!-- Bootstrap CSS CDN -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div ng-controller="mainCtrl">




        <form ng-submit="addData()">
      <input ng-model="newText" />
      <button type="submit">Add Message</button>
    </form>
    

<div ng-repeat="x in data">
    <p>{{x.text}} and </p>
     <input type="text" ng-model="x.text" ng-change="data.$save(x)" /
</div>








</div>

	<!-- Jquery CDN -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- bootstrap JS CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
    <!-- Angular UI route -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>


    <!-- Custom Javascript -->
    <script type="text/javascript" src="angular/app.js"></script>
    <script type="text/javascript" src="angular/controllers.js"></script>
    <script type="text/javascript" src="angular/services.js"></script>
</body>
</html>